:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 16);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cyan;
}

canvas {
    width: calc(14 * var(--grid-cell));
    height: calc(14 * var(--grid-cell));
    border: 2px black solid;
}

h1 {
    text-align: center;
}

.pixel-art {
    image-rendering: pixelated;
}

.spritesheet {
    position: absolute;
    left: -100%;
}

.character {
    width: calc(32 * var(--pixel-size));
    height: calc(32 * var(--pixel-size));
    overflow: hidden;

    &__spritesheet {
        width: calc(128 * var(--pixel-size));
        height: calc(160 * var(--pixel-size));
        animation: turn-left 500ms steps(4);
    }
}

@keyframes turn-left {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes turn-right {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0px, 0, 0);
    }
}

@keyframes walk-left {
    from {
        transform: translate3d(0px, -21%, 0);
    }
    to {
        transform: translate3d(-8.5%, -21%, 0);
    }
}