:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 16);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cyan;
}
h1 {
    text-align: center;
}

.canvas {
    width: calc(14 * var(--grid-cell));
    height: calc(14 * var(--grid-cell));
}
.pixel-art {
    image-rendering: pixelated;
}